<html>
  <body>
    <p>Hi {{user}},</p>
    <p>You have successfully been made an admin by "{{admin}}"</p>
    <br>
    <p>Login back in to the hotel system application to see the changes made to your dashboard.</p>
    </p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>