<html>
  <body>
    <p>Hi {{user}},</p>
    <p>You have successfully made "{{admin}}" with email "{{email}}" an admin</p>
    <br>
    <p>If you didn't initiate this. Kindly click this link
      <a href="#">here.</a>.</p>
    </p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>