<html>
  <body>
    <p>Hi {{name}},</p>
    <p>You have successfully deleted "{{admin}}" with email "{{email}}"</p>
    <br>
    <p>If you didn't initiate this. Kindly reach out to our support team
      <a href="#">here.</a>.</p>
    </p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>