<html>
  <body>
    <p>Hi {{admin}},</p>
    <p>"{{user}}" has requested to add this Hotel "{{hotel}}"</p>
    <br>
    <p>Kindly click this <a href="#">link</a> to accept the request</p>
    </p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>