<html>
  <body>
    <p>Hi {{name}},</p>
    <br>
    <p>You just logged into your account.</p>
    <br>
    <p>If it isn't you, kindly contact support <a href="#">here</a>.</p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>
