<html>
  <body>
    <p>Hi {{name}},</p>
    <br>
    <p>You are about to delete {{admin}} with email {{email}}</p>
    <p> This is your OTP. Do not disclose it to anyone.</p>
    <br>
    <p>{{otp}}</p>
    <br>
    <p>The OTP expires in an hour</p>
    <br>
    <p>If you didn't initiate this request. Kindly ignore it.</p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>