<html>
  <body>
    <p>Welcome {{name}},</p> 
    <br>
    <p>Thank you for creating an account with us. We hope your hotel selection and service are top notch and as expected.</p>
    <br>
    <p>The Hotel System Team</p>
  </body>
</html>